@import "tailwindcss";

body {
  background-color: #0a0a0a;
  color: white;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}